body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs3,
.logo1 {
  position: relative;
  /* font-size: 23px; */
}

.logo1 {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-6xl);
}

.blogs3 {
  line-height: 112.5%;
}

.blogs2,
.navopt1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blogs2 {
  text-decoration: none;
  padding: var(--padding-3xs);
  justify-content: center;
  color: inherit;
}

.navopt1 {
  width: auto;
  height: 3.63rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-20xl);
}

.vector-icon4 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.iconlinkedin2 {
  text-decoration: none;
  position: relative;
  width: 1.94rem;
  height: 1.94rem;
  overflow: hidden;
  flex-shrink: 0;
}

.vector-icon5,
.vector-icon7 {
  position: absolute;
  height: 81.28%;
  width: 83.33%;
  top: 9.36%;
  right: 8.33%;
  bottom: 9.36%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon7 {
  height: 43.46%;
  width: 44.16%;
  top: 25.82%;
  right: 25.12%;
  bottom: 30.72%;
  left: 30.73%;
}

.social-media-icons2 {
  width: 10.59rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.53rem;
}

.right-nav1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-cabin);
}

.blog-page1,
.nabbar1 {
  margin: 0;
  align-self: stretch;
}

.nabbar1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-dodgerblue);
  font-family: var(--font-biorhyme);
}

.blog-page1 {
  position: relative;
  font-size: inherit;
  line-height: 112.5%;
  font-weight: 700;
  font-family: inherit;
}

.welcome-to-my {
  display: block;
}

.welcome-to-my-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 112.5%;
}

.intro-content1,
.intro-section1 {
  display: flex;
  justify-content: flex-start;
}

.intro-content1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-18xl);
}

.intro-section1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}

.enjoy-it {
  align-self: stretch;
  position: relative;
  line-height: 112.5%;
}

.underline-latestarticles-icon1 {
  position: relative;
  width: 6.5rem;
  height: 0.19rem;
}

.title-latest-articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-13xl);
}

.date,
.heading3 {
  align-self: stretch;
  position: relative;
}

.date {
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
}

.first-five {
  margin: 0;
}

.description4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  color: var(--color-gray);
}

.latestarticles,
.temp-blogs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.temp-blogs {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  padding: var(--padding-xs);
  justify-content: center;
  gap: var(--gap-4xs);
}

.latestarticles {
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: var(--font-size-6xl);
}

.title-contact3 {
  position: relative;
  line-height: 112.5%;
  display: inline-block;
  width: 17rem;
}

.title-underline-icon1 {
  position: relative;
  width: 6.13rem;
  height: 0.19rem;
}

.title-contact2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}

.email-contact1 {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 112.5%;
  color: inherit;
}

.social-media-icons3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.53rem;
}

.email-contact-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-3xl);
}

.content1,
.footer1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}

.footer1 {
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  padding: var(--padding-23xl) var(--padding-28xl);
  justify-content: flex-end;
  gap: var(--gap-5xl);
  font-size: var(--font-size-13xl);
}

.content1 {
  gap: var(--gap-49xl);
}

.blog-page,
.content1,
.nabbar-group {
  display: flex;
  justify-content: flex-start;
}

.nabbar-group {
  width: 67.63rem;
  flex-direction: column;
  align-items: center;
  gap: 3.63rem;
}

.blog-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-44xl) 2.44rem;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-24xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

@media screen and (max-width: 960px) {
  .nabbar1 {
    gap: var(--gap-3xs);
  }

  .email-contact1 {
    font-size: var(--font-size-mini);
  }

  .myphoto {
    align-items: center;
    justify-content: center;
  }

  .nabbar-container {
    width: 100%;
  }

  .blogs4 {
    border: 1.5px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 10px;
  }

  .content2 {
    gap: 4.439999999999998rem;
    font-size: 2.81rem;
  }
}

@media screen and (max-width: 426px) {
  .blogs3 {
    font-size: var(--font-size-mini);
  }

  .right-nav1 {
    flex: unset;
    align-self: stretch;
  }

  .nabbar1 {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: center;
  }

  .title-contact3 {
    font-size: var(--font-size-6xl);
  }

  .email-contact1 {
    font-size: 13.5px;
  }

  .blog-page,
  .nabbar-group {
    width: 100%;
    box-sizing: border-box;
  }

  .nabbar-group {
    padding-left: 0;
  }

  .blog-page {
    padding-top: var(--padding-21xl);
    padding-bottom: 0;
  }

  .blogs4 {
    border: 1.5px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 10px;
  }

  .nabbar-container {
    width: 100%;
  }

  .myphoto {
    width: auto;
    height: auto;
    margin: 57px 0px;
  }

  .myphoto-child {
    width: 18rem;
    height: 18rem;
  }

  .navopt2 {
    width: auto;
  }

  .footer1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .article-list {
    gap: 12px;
  }

  .content2 {
    gap: 4.439999999999998rem;
    font-size: 2.81rem;
  }
}